{# входные:
  title, link_url?, link_label?, icon?, logo?, logo_alt?, show_link? (bool)
#}

{% set _title     = title|default('') %}
{% set _link_url  = link_url|default('') %}
{% set _show_link = (show_link is defined) ? show_link : (_link_url != '') %}

<div class="section-head">
  <div class="section-head__wrap">
    {% if icon is defined %}
      <span class="material-symbols-outlined section-head__icon">{{ icon }}</span>
    {% elseif logo is defined %}
      <img src="{{ logo }}" alt="{{ logo_alt|default(_title) }}" class="section-head__logo">
    {% endif %}
    <h2 class="section-head__title">{{ _title }}</h2>
  </div>

  {% if _show_link %}
    <a href="{{ _link_url }}" class="section-head__link">
      {{ link_label|default('See all') }}
    </a>
  {% endif %}
</div>





{#

<!-- {% include "components/section-head/section-head.twig" with {
  title: "Latest News",
  icon: "news",
  link_url: "/news",
  link_label: "All news"
} %} -->


<!-- {% include "components/section-head/section-head.twig" with {
  title: "Serie A",
  logo: "/assets/images/serie-a-logo.webp",
  logo_alt: "Serie A logo",
  link_url: "/league/serie-a",
  link_label: "All matches"
} %} -->  #}